<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Solar System</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1>The Solar System</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/mercury">Mercury</a>
        <a href="/venus">Venus</a>
        <a href="/earth">Earth</a>
        <a href="/mars">Mars</a>
        <a href="/jupiter">Jupiter</a>
        <a href="/saturn">Saturn</a>
        <a href="/uranus">Uranus</a>
        <a href="/neptune">Neptune</a>
        <a href="/nasa">NASA POD</a>
    </nav>
</header>
<main>