<hr>
<footer>
    <p>CST336 Internet Programming. 2025&copy; Mitchell. All rights reserved.</p>
    <p><strong>Disclaimer:</strong> This website is for academic purposes only.</p>
    <img src="/img/csumblogo-2.png" alt="CSUMB Logo" id="csumb-logo">
</footer>